@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Gugi&family=Noto+Serif+KR:wght@300;400&display=swap');

.container{overflow:hidden;}

a{
  text-decoration: none;
}
.background {
background-color: white;

}

.seekbar {
top : 80px;
margin: 12px 0;
padding: 10px 250px;
position: relative;
}

.seekbar-progress {
height: 10px;
background-color: #f5f5f5;
background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
background-repeat: repeat-x;
border-radius: 6px;
}

.seekbar-progress [role="progressbar"] {
height: 100%;
position: relative;
background: #F36C36;
border-radius: 6px;
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

.seekbar-progress [role="progressbar"]:after {
content: " ";
display: block;
width: 24px;
height: 24px;
position: absolute;
top: -7px;
right: -12px;
background-color: #F36C36;
background-image: linear-gradient(to bottom, rgb(255, 153, 37) 0%, #F36C36 100%);
background-repeat: repeat-x;
border: 1px solid #F36C36;
border-radius: 20px;  
}

.seekbar input[type="range"] {
-webkit-appearance: none;
width: 100%;
height: 100%;
margin: 0;
position: absolute;
top: 0;
left: 0;
z-index: 2;
background: transparent;
outline: 0;
border: 0;
}

.seekbar input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
display: block;
width: 500px;
height: 48px;
background-color: transparent;
}

/*
Mozilla:
https://developer.mozilla.org/en-US/docs/User:Jonathan_Watt/range
*/
.seekbar input[type="range"]::-moz-range-thumb {
display: block;
width: 48px;
height: 48px;
background: transparent;
border: 0;
}

.seekbar input[type="range"]::-moz-range-track {
background: transparent;
border: 0;
}

.seekbar input[type="range"]::-moz-focus-outer {
border: 0;
}

#whole_text {
  position: absolute;
  top : 200px;
  left : 200px;
  right : 200px;
  font-size : 1.5em;
  font-family: 'Noto Serif KR', serif;
} 

span {
  color: #F36C36;
}
.text:hover {
  color: mediumspringgreen;
}



